.dsstore
.DS_Store
$GIT_DIR/download_test/Calendar.json
$GIT_DIR/download_test/Readable.csv
$GIT_DIR/Information/class_info.json
$GIT_DIR/Information/link.txt
$GIT_DIR/.dsstore
$GIT_DIR/.DS_Store
$GIT_DIR/.idea/

__pycache__/
