body, html {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

/* ctrl a input */
#ctrl-a-input-window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid black;
	width: 50vw;
	height: 50vh;
	z-index: 10;
	padding: 5px;
	box-shadow: 0 0 15px black;
}

#ctrl-a-input-textarea {
	width: 100%;
	height: 200px;
	resize: none;
}

#ctrl-a-input-submit {
	margin-top: 10px;
}

/* side bar */
#side-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 17vw;
	height: 100vh;
	border-right: 3px solid #dadce0;
}

#logo {
	width: 100%;
}

#long-term-calendar {
	margin: 0 auto;
	width: max-content;
}
#long-term-calendar > h4 {
	text-align: center;
	margin-bottom: 0;
}

#long-term-calendar table {
	border-collapse: collapse;
}

#long-term-calendar tr:hover {
	cursor: pointer;
	background-color: lightgrey;
}
#long-term-calendar tr:hover .ltc-month {
	background-color: white;
}

#long-term-calendar td:not(.ltc-weeknum) {
	padding: 0 5px;
	text-align: center;
}
.ltc-weeknum {
	padding-right: 10px;
	text-align: right;
	font-weight: bold;
}

.ltc-lowprio {
	border-radius: 50%;
	background-color: lightgreen;
}
.ltc-medprio {
	border-radius: 50%;
	background-color: yellow;
}
.ltc-highprio {
	border-radius: 50%;
	background-color: tomato;
}

#class-filters {
	width: max-content;
	margin: 0 auto;
}

#class-filters h4 {
	text-align: center;
	margin-bottom: 0;
}

#class-filters > div {
	width: max-content;
}

/* calendar */
#calendar {
	position: absolute;
	top: 0;
	left: 17vw;
	width: calc(100vw - 17vw);
	height: calc(100vh - 30vh);
	border-bottom: 3px solid #dadce0;
}
/* je578 Edits */
* {
	box-sizing: border-box;
}

body {
	background: #fff;
}

.calendar_container {
	width: 100%;
	display: grid;
	grid-template-rows: 3em 3em auto;
	position: absolute;
}

.calendar_days {
	background: #f3f2f1;
	display: grid;
	place-content: center;
	text-align: center;
	grid-template-columns: 3em 10px repeat(7, 1fr);
	position: sticky;
	z-index: 10;
	border-bottom: 2px solid #dadce0;
}

.calendar_day {
	border-left: 1px solid #dadce0;
}

<!--  

-->
.calendar_content {
	display: grid;
	grid-template-columns: 3em 10px repeat(7, 1fr);
	grid-template-rows: repeat(24, 3em);
	overflow-y: scroll;
	height: calc(94vh - 30vh);
	position: relative;
}

.calendar_time {
	grid-column: 1;
	text-align: right;
	align-self: end;
	font-size: 80%;
	position: relative;
	bottom: -1ex;
	color: #70757a;
	padding-right: 2px;
}

.calendar_col {
	border-right: 1px solid #dadce0;
	grid-row: 1/span 24;
	grid-column: span 1;
	position: relative;
}

.calendar_filler-col {
	grid-row: 1/-1;
	grid-column: 2;
	border-right: 1px solid #dadce0;
}

.calendar_row {
	grid-column: 2/-1;
	border-bottom: 1px solid #dadce0;
}

.calendar_event {
	border-radius: 5px;
	padding: 5px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 80%;
}

.calendar_weekend {
	background-color: #f1f3f4;
}

.calendar_calendar1 {
	background-color: #d7dbef;
	border-color: #bcc3e5;
}

.calendar_calendar2 {
	background-color: #b3e1f7;
	border-color: #81cdf2;
}
.class {
	border-radius: 4px;
	padding: 8px;
	margin: 5px;
	box-sizing: border-box;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	position: relative;
	width: 95%;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.calendar_current-time {
	border-top: 2px solid #ea4335;
	border-top-left-radius: 2px dashed #ea4335;
	width: 191px;
}


.calendar_circle {
	width: 12px;
	height: 12px;
	border: 1px solid #ea4335;
	border-radius: 50%;
	background: #ea4335;
	position: absolute;
	top: -6px;
	left: -6px;
}

.current-date {
	font-weight: bold;
}

/* due dates */
#due-dates {
	position: absolute;
	bottom: 0;
	left: 17vw;
	height: 30vh;
	width: calc(100vw - 17vw);
}

#due-dates-grid {
	display: grid;
	height: 100%;
	grid-template-columns: 3em 10px repeat(7, 1fr);
	overflow-y: scroll;
}

.due-dates-col {
	height: 100%;
	border-right: 1px solid #dadce0;
	grid-column: span 1;
}

.due-date-entry {
	margin-bottom: 3px;
}
.due-date-time {
	color: slategray;
}
